<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <h1 class="text-center">There's more to life than just living!</h1>
            </div>
            <hr>
            <div *ngFor = 'let quote of quotes; let i = index'>
                <ul>
                    <li>
                        {{quote.name}}
                        <button (click)= 'toggleDetails(i)' class="btn btn-outline-primary">See More</button>
                        <app-quote-detail *ngIf = 'quote.showDescription' [quote]= 'quote' (isComplete) = 'deleteQuote($event,i)' ></app-quote-detail><br>
                        Written on {{quote.getDate|date}}
                    </li>                 
                    
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>
    
    <p *ngIf = 'quotes.length > 12'>
        You have very many quotes
    </p>
</div>
